
<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <span class="bar-title mb-5"></span>

    <div class="row">
        <div class="col-md-6" data-aos="fade-right">
           
                <img src="assets/images/myself.jpg" class="img-fluid rounded-circle">
                </div>
        
            <div class="col-md-6" data-aos="fade-right">
                
                <p class="font-italic">
                    A Passionate Software Developer having an experience of building web and mobile applications.Currently working as Coding & Maths teacher in Byjus from 
                    Sep’20.
                </p>
                <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="info">
                            <h5> <i class="bi bi-envelope-exclamation-fill"></i>  314preethi@gmail.com</h5>
                            <h5> <i class="bi bi-telephone-outbound-fill"></i>  7909153296</h5> 
                            <h5> <i class="bi bi-balloon-heart-fill"></i> 03-01-1994 </h5>
                             <h5> <i class="bi bi-geo-alt"></i> Kollam ,Kerala 691301</h5>
                             <h5> <i class="bi bi-mortarboard-fill"></i> Electronics & Biomedical Engineering</h5>


                              

    


    
    
    </div>
</div>
</div>
 
