<section class="mb-5" id="cv">
    <div class="container">
      <h2><strong> Curriculum Vitae </strong></h2>
      <span class="bar-title mb-5"></span>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <h4><strong> Education </strong></h4>
          <ul class="timeline">
            <li>
              <h5>B-Tech</h5>
              <em class="font-italic"> TKMIT</em>
              <p class="year p-2 d-flex justify-content-center">2012-16</p>
            </li>
            <li>
              <h5>Higher Secondary</h5>
              <em class="font-italic"> TKMCPS</em>
              <p class="year p-2 d-flex justify-content-center">2012 </p>
            </li>
            <li>
              <h5>SSLC</h5>
              <em class="font-italic">M.G.M Model School</em>
              <p class="year p-2 d-flex justify-content-center">2010</p>
            </li>
          </ul>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <h4><strong>Experience</strong></h4>
    
                <ul class="timeline">
                    <li>
                      <h5>Byjus</h5>
                      <h5>2020-Present</h5>
                      <p>
                        Currently working as Coding Teacher Professional in Byjus from 
                        Sep’20.

                    </p>
                    </li>
                    <li>
                      <h5>Travancore Medical College Hospital </h5>
                      <em class="font-italic">(Kerala-India) </em>
                      <p class="year p-2 d-flex justify-content-center">2016</p>
                      <p>
                        Done 6 months training in Bio Medical Engineering Department

                    </p>
                      
                    </li>
                   
                  </ul>
                  </div> 
                  <div
                  class="col-lg-4 col-md-12 aos-init aos-animate"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <div class="container row">
                    <div
                      class="aos-init aos-animate"
                      data-aos="fade-up"
                      data-aos-delay="300"
                    >
                    <a href="file:///C:/Users/314pr/Downloads/Resume%20Preethi%20updated.pdf"><button class="btn">Download CV <i class="bi bi-file-arrow-down"></i></button></a>
                   