
<section id="portfolio">
    <div class="container">
        <h2><strong>Projects </strong></h2>
        <h6>View some of my Past Works</h6>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-img has-margin-right">
            <img src="assets/images/Screen-Shot-2017-12-31-at-8.53.14-PM.png" alt="">
        </div>
        <div class="portfolio-description">
            <h6>Mini Project</h6>
            <h5>NON CONTACT HEART RATE SENSOR </h5>
            <p>
                A novel cost effective method for the measurement of Heart Rate and 
                Respiration Rate without contact on a subject by <br> using a capacitive sensor
            </p>
            <a href="https://biomedpharmajournal.org/vol12no3/a-novel-approach-for-non-contact-heart-rate-measurement/#:~:text=A%20Novel%20Approach%20for%20Non-Contact%20Heart%20Rate%20Measurement,measure%20t%20...%20%201%20more%20rows%20" class="cta">View Details</a>
        </div>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-img ">
                <img src="assets/images/OIP.jpg" alt="">
            </div>
            <div class="portfolio-description has-margin-right">
                <h6>Main Project</h6>
                <h5>DETECTION OF LEUKOCORIA </h5>
                <p>
                    Here proposes a system for automatic leukocoria detection, by an Image 
                    processing algorithm for detecting the exact location <br> and radius of the smallest 
                    circle containing the iris in an eye Image
                </p>
                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4167153/" class="cta">View Details</a>
            </div>
            </div>
    
    